
<div style="padding: 10px;">
  <app-mayiwen-tabs>
    <app-mayiwen-tabset mywTitle="首页链接">
      <app-setting-link></app-setting-link>
    </app-mayiwen-tabset>
    <app-mayiwen-tabset mywTitle="首页标题">
      <app-setting-title></app-setting-title>
    </app-mayiwen-tabset>
    <app-mayiwen-tabset mywTitle="升级/关于">
      后期将支持在线升级。
      <br>
      项目使用了以下开源技术。特此鸣谢：
      javascript、typescript、angular、electron、nestjs、nginx、mysql。
      <br>
      nodejs、npm、rsjx、wangeditor
      <br>
      在线网址：http://mayiwen.com
      <!-- <a href="http://mayiwen.com">http://mayiwen.com</a> -->
    </app-mayiwen-tabset>
    <app-mayiwen-tabset mywTitle="组件">
      本工程力求不使用第三方组件，所需组件应该应抽尽抽，逐步掌握组件开发技术。
      <br>
      本组件源自于马一文自定义组件重制计划。本人将于两年内将关键组件自定义化。
      <br>
    </app-mayiwen-tabset>
  </app-mayiwen-tabs>
</div>