
<div style="padding: 10px;">
  <app-mayiwen-tabs>
    <app-mayiwen-tabset mywTitle="首页链接">
      <app-setting-link></app-setting-link>
    </app-mayiwen-tabset>
    <app-mayiwen-tabset mywTitle="首页标题">
      <app-setting-title></app-setting-title>
    </app-mayiwen-tabset>
    <app-mayiwen-tabset mywTitle="升级/关于">
      后期将支持在线升级。
      <br>
      项目使用了以下开源技术。特此鸣谢：
      javascript、typescript、angular、electron、nestjs、nginx、mysql。
      <br>
      nodejs、npm、rsjx、wangeditor
      
      <br>
      在线网址：http://mayiwen.com

      版本： 
      自定义组件版本: 0.0.1
      <!-- <a href="http://mayiwen.com">http://mayiwen.com</a> -->
    </app-mayiwen-tabset>
  </app-mayiwen-tabs>
</div>