
<div class="app-left">
  <a [routerLink]="['home']"   >
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-home"></use>
      </svg>
  </a>
  <a [routerLink]="['desktop']"   >
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-desktop"></use>
      </svg>
  </a>
  <a [routerLink]="['mind-map']"   >
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-cluster"></use>
    </svg>
</a>
  <a [routerLink]="['nav-setting']" title="天方思维导图" >
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-setting"></use>
      </svg>
  </a>
 
</div>  