:host {
  .select {
    position: relative;
    .select-show {
      background-color: white;
      border: 1px solid red;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 30px
    }
  }
}
