
<span class="select" (mouseleave)="mayiwenSelectService.flagShow = false" (mouseenter)="mayiwenSelectService.flagShow = true">
  <input type="text" style="border: 1px solid #cccccc; height: 28px; font-size: 20px; width: 140px;" [ngStyle]="{width: w + 'px'}" readonly 
    (click)="mayiwenSelectService.flagShow = true" [(ngModel)]="fatherNgModel.v">
  <div class="select-show" *ngIf="mayiwenSelectService.flagShow" [ngStyle]="{width: width + 'px'}" (click)="mayiwenSelectService.flagShow = false">
    <ng-content select="app-mayiwen-option" ></ng-content>
  </div>
</span>